{% extends "maestra.html" %}
{% block titulo %}
Agregar pedidos
{% endblock %}
{% block contenido %}
<div class="portada">
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Agregar pedidos</h3>
            <form action="{{url_for('guardar_pedido')}}" method="post">
                <label for="fechapedido">Fecha de Pedido:</label>
                <input required type="text" class="input" placeholder="Fecha de Pedido" name="fechapedido" id="fechapedido">
                <label for="estadopedido">Estado de Pedido:</label>
                <input required type="text" class="input" placeholder="Estado de Pedido" name="estadopedido" id="estadopedido">
                <label for="idproducto">Producto:</label>
                <select required class="input" name="idproducto" id="idproducto">
                    {% for producto in productos %}
                    <option value="{{ producto[0] }}">{{ producto[1] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('pedidos')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
</div>
{% endblock %}