{% extends "maestra.html" %}
{% block titulo %}
Editar entrega
{% endblock %}
{% block contenido %}
<div class="portada">
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar entrega</h3>
            <p>Valor de la variable entrega: {{ entrega }}</p>  {# Agrega este mensaje de depuración #}
            <form action="{{ url_for('actualizar_entrega') }}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="identrega" value="{{entrega[0]}}">
                <label for="fechaentrega">Fecha de Entrega:</label>
                <input value="{{entrega[1]}}" required type="text" class="input" placeholder="Fecha de Entrega" name="fechaentrega" id="fechaentrega">
                <label for="idproveedor">Proveedor:</label>
                <select required class="input" name="idproveedor" id="idproveedor">
                    {% for proveedor in proveedores %}
                    {% if proveedor[0] ==  entrega[4] %}
                        <option value="{{ proveedor[0] }}" selected>{{ proveedor[1] }}</option>
                    {% else %}
                        <option value="{{ proveedor[0] }}">{{ proveedor[1] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="idproducto">Producto:</label>
                <select required class="input" name="idproducto" id="idproducto">
                    {% for producto in productos %}
                    {% if producto[0] ==  entrega[5] %}
                        <option value="{{ producto[0] }}" selected>{{ producto[1] }}</option>
                    {% else %}
                        <option value="{{ producto[0] }}">{{ producto[1] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="cantidad">Cantidad:</label>
                <input value="{{entrega[4]}}" required type="number" class="input" placeholder="Cantidad" name="cantidad" id="cantidad">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('entregas')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
</div>
{% endblock %}
