<!DOCTYPE html>
<html>
<head>
    <title>Opticas farmacias Pitic</title>
</head>
<body>
   {% if 'username' in session %}
    <h2>Hola {{ session['username'] }}</h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('productos') }}">Productos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Proveedores</a></li>
            <li><a href="#">Entregas</a></li>
        </ul>
    </nav>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    {% else %}
    <h2>Debes iniciar sesión para ver esta página.</h2>
    <a href="{{ url_for('login') }}">Iniciar sesión</a>
    {% endif %}
</body
</html>
