<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% if error %}
    <div style="color: red;">{{ error }}</div>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Iniciar sesión">
    </form>
</body>
</html>
