<html>
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title> Login | Farmacias Pitic </title>
    </head>
    <body>
        <section class="mitad-1">
            <div class="form login"> 
                <img src="multimedia/farmaciaLogo.png" alt="logo" class="responsive"/>  
                <form action="#">
                    <label class="header"> ¡Bienvenido! </label>
                    <p style="text-align:center;">Te deseamos un excelente día</p>
                    <input type="text" placeholder="Usuario" required id="user">
                    <input type="password" placeholder="Contraseña" required id="user"> 
                    <input type="submit" value="Iniciar Sesión">
                </form>
            </div>    
        </section>
        <section class="mitad-2">
            <img src="multimedia/portada.png" alt="logo" class="responsive"/> 
        </section>

    </body>

</html>