{% extends "maestra.html" %}

{% block titulo %} Proveedor {% endblock %}

{% block contenido %}
<div class="portada">
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Proveedor</h3>
            <a href="{{url_for('formulario_agregar_proveedor')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedor %}
                    <tr>
                        <td>{{proveedor[1]}}</td>
                        <td>
                            {# Pasar el id lo que hay en proveedor[0] #}
                            <a href="{{url_for('editar_proveedor', id=proveedor[0])}}" class="button is-info">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
</div>
{% endblock %}
