@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: white;
    
}

.mitad-1 {
    width: 50%;
        float: right;
        position: fixed;
        height: 100%;
        background-color: white;
        
}
.form {
    margin: auto;
    width: auto;

}
.mitad-1 form {
    position: relative;
    display:flex;
    flex-direction:column;
    padding: 25%;
    gap: 20px;
    width: auto;
    height: 100%;
    margin-top: 0;

    
}

.form .header {
    font-size: xx-large;
    color: black;
    text-align: center;
    font-weight: 500;
    min-height: 0%;
}

.mitad-2 {
    width: 50%;
        float: left;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        border-radius: 12px;
        background-color: blue;
}

.responsive {
    width: 100%;
    height: auto;
    position: sticky;
    border-radius: 12px;
}

form input {
    height: 40px;
    outline: none;
    padding: 0 15px;
    font-size: small;
    font-weight: 300;
    border-radius: 8px;


}

form input[type="submit"] {
    font-size: small;
    font-weight: 500;
    background-color: rgb(252, 106, 0);
    border: none;
    color: white;

}

.img {
    border-radius: 19px;
}

.content {
    display: grid;
    background-color: bisque;
    height: 100vh;
    place-items: center;
  }
